{% extends 'movie_app/base.html' %}

{%  load static %}

{% block title %} All movies {% endblock title %}

{% block css %}
    <link rel="stylesheet" href={% static 'movie_app/css/all_movie.css' %}>
{% endblock %}

{% block content %}

<h2>List of movies</h2>
    <ul>
        {% for movie in movies %}
            <li>
{#            From Models use get_url#}
                <a href="{{ movie.get_url }}">{{ movie.name }}</a> -->
                year - {{ movie.year|default:'unknown' }},
                budget - {{ movie.budget|default:'unknown' }}
{#                <a href="{% url  'movie-detail' movie.id %}">{{ movie.name }} --> year - {{ movie.year|default:'unknown' }}</a>#}
{#                movie-detail - variable from urls from paths#}
            </li>
        {% endfor %}
    </ul>

    <h3>Average budget - {{ agg.budget__avg|floatformat:0 }}</h3>
    <h3>Max rating - {{ agg.rating__max }}</h3>
    <h3>Min rating - {{ agg.rating__min }}</h3>
    <h3>Max year - {{ agg.year__max }}</h3>
    <h3>Total movies - {{ total }}</h3>

{% endblock content %}
