{% extends 'movie_app/base.html' %}

{%  load static %}

{% block title %} Info about movie {{ movie.name }} {% endblock title %}

{% block css %}
    <link rel="stylesheet" href={% static 'movie_app/css/one_movie.css' %}>
{% endblock %}

{% block content %}

    <h2>Info about movie {{ movie.name }}</h2>

    <h3>{{ movie.name|title }}</h3>
    <h3>Rating - {{ movie.rating }}%</h3>
    <h3>Year - {{ movie.year }}%</h3>
    <hr>
    <h4>Director:</h4>
    <h4>Name - {{ movie.director.first_name }}</h4>
    <h4>Family name - {{ movie.director.last_name }}</h4>
    <h4>E-Mail - {{ movie.director.director_email }}</h4>
    <hr>
    <h4>List of actors:</h4>
    <ul>
        {% for actor in movie.actors.all %}
            <li>{{ actor }}</li>
        {% endfor %}
    </ul>


{% endblock content %}
